#message-form {
  display: inline-block;
  position: relative;
  left: 20%;
  top: 50em;
  width: 150%;

  font-size: 100%;
}
input {
  width: 50%;
}
p {
  top: 40em;
  display: inline-block;
  border-color: black;
  position: relative;
  left: 20%;
}
#messages {
  position: absolute;
  bottom: 100%;
  left: 30%;
}
